/*página de pelicula*/
body{
    border: #ffffff 1px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Courgette' ;
    background-image: url(fondosga.jpg);
    background-attachment: fixed;
    
}

/*editar la primera barra de navegación*/
.recul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(148, 83, 253);
}
.recli{
    float: left;
    
}
.recli a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.recli a:hover, .receli{
    background-color: rgb(203, 164, 240);
}


/*página principal*/
#cuerpo{
    float: left;
    background-color: rgb(255, 255, 255);
    width: 830px;

}

.titu{
    color: rgb(255, 255, 255);
    background-color: rgb(148, 83, 253);
    padding: 10px;
}
/*publidad de la página*/
aside{
    background-image:linear-gradient(to left,rgb(83, 85, 85),rgb(134, 133, 134),rgb(167, 164, 166));
    float: right;
    margin-top: 5px;
    width: 175px;
    height: 850px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
/*todos de etiqueta <p> dentro de un adside
se les pondra un estilo*/
aside p{
    text-align: center;
    color: white;
    width: 125px;

}

/*pie de página*/
footer{
    background-color:rgb(148, 83, 253);
    clear: both;
    color: white;
    
}
